<head>
	<link rel="stylesheet" href="./css/index.css" />
</head>

<div id="header">
	<a href="/">
		<img src="./images/logo.png" width="400px" /><br>
	</a>

	<a id="logo_label" href="/">CatMash</label>
		<label ></label>
	</a>
</div>