<head>
	<link rel="stylesheet" href="./css/index.css" />
	<link rel="stylesheet" href="./css/header.css" />
</head>

<div class="centered">
	<a class="no_select" href="/">
		<img src="./images/logo.png" width="400px" /><br>
	</a>

	<a id="logo_label" class="no_select" href="/"><%= text %></a>
</div>