<head>
	<link rel="stylesheet" href="./css/index.css" />
	<link rel="stylesheet" href="./css/header.css" />
</head>

<div class="centered">
	<a href="/">
		<img src="./images/logo.png" width="400px" /><br>
	</a>

	<a id="logo_label" href="/">CatMash</a>
</div>