<!DOCTYPE html>
<html>
	<head>
		<title>Show cats</title>
	</head>

	<body>
		<% for (const cat of cats) { %>
			<h1><%= cat.id %></h1><br>
			<img src="<%= cat.url %>" /><br>
		<% } %>
	</body>
</html>