<!DOCTYPE html>
<html>
	<head>
		<title>CatMash</title>
		<link rel="stylesheet" href="./css/index.css" />
		<link rel="stylesheet" href="./css/vote.css" />
	</head>

	<body>
		<%- include('header'); %>

		<div id="images_div">
			<img class="image" src="<%= leftCat.url %>" width="300px" height="300px" />
			<img class="image" src="<%= rightCat.url %>" width="300px" height="300px" />
		</div>
		

		<div id="classement_div">
			<a href="/classement">
				<button id="classement_button">Classement</button>
			</a>
		</div>
	</body>
</html>