<!DOCTYPE html>
<html>
	<head>
		<title>CatMash</title>
	</head>

	<body>
		<%- include('header'); %>

		<h1>Test heure depuis Node : <%= hour %></h1>

		<a href="/classement">
			<button>Classement</button>
		</a>
	</body>

</html>