#classement_div {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20%;
	text-align: center;
}

#classement_button {
	border: none;
	outline: none;

	color: white;
	background-color: #FF9900;

	font-size: 70px;
	width: 100%;
	height: 100%;

	cursor: pointer;
}

#classement_button:hover {
	background-color: green;
}

#images_div {
	margin-top: 50px;
	text-align: center;
}

.image:active {
	border: 10px green solid; 
}