#classement_div {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

#classement_button {
	border: none;
	outline: none;

	color: white;
	background-color: #FFCCCC;

	font-size: 30px;
	width: 500px;
	height: 70px;

	cursor: pointer;
}

#classement_button:hover {
	background-color: #FF9900;
}

#images_div {
	margin-top: 50px;
	text-align: center;
}

.image {
	margin-left: 140px;
	margin-right: 140px;
}