body {
	margin: 0;
	background: linear-gradient(to right, white 0%, white 50%, rgb(151 255 253) 0%, rgb(151 255 253) 100%);
	-ms-overflow-style: none;
	font-family: 'Courier New', Courier, monospace;
}

body::-webkit-scrollbar {
	display: none;
}

.centered {
	text-align: center;
}

.image:active {
	border: 10px green solid; 
}
